<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="icon.jpg">
    <link rel="manifest" href="manifest.json">
    <title>Restaurant Apps Starter Project</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta name="theme-color" content="#183c28"/>
    <link rel="apple-touch-icon" href="icon-152_x_152.png">
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
  </head>
  <body>
    <a href="#main-content" class="skip-to-content">Skip to content</a>

    <header class="app-bar">
      <div class="app-bar__menu">
        <button id="hamburgerButton">☰</button>
      </div>
      <div class="app-bar__brand">
        <h1>Feeder</h1>
      </div>
      <nav id="navigationDrawer" class="app-bar__navigation">
        <ul>
          <li><a href="#/home" tabindex="0">Home</a></li>
          <li><a href="#/our-favorites" tabindex="0">Our favorites</a></li>
          <li><a href="https://www.instagram.com/lutfi.pratama22/" tabindex="0">About us</a></li>
        </ul>
      </nav>
    </header>

    <section class="jumbotron">
      <img src="./images/heros/hero-image_4.jpg" alt="jumbotron_resto" aria-hidden />
      <div>
        <h1 tabindex="0">Feeder.</h1>
        <h2 tabindex="0">Your one-stop solution for daily hunger</h2>
      </div>
    </section>

    <main id="main-content"></main>

    <footer>
      <p>Copyright &copy; 2021 - feeder.</p>
    </footer>
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
  </body>
</html>
