<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="icon.jpg">
    <title>Restaurant Apps Starter Project</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <a href="#main-content" class="skip-to-content">Skip to content</a>

    <header class="app-bar">
      <div class="app-bar__menu">
        <button id="hamburgerButton">☰</button>
      </div>
      <div class="app-bar__brand">
        <h1>Feeder</h1>
      </div>
      <nav id="navigationDrawer" class="app-bar__navigation">
        <ul>
          <li><a href="#/home" tabindex="-1">Home</a></li>
          <li><a href="#/our-favorites" tabindex="-1">Our favorites</a></li>
          <li><a href="https://www.instagram.com/lutfi.pratama22/" tabindex="-1">About us</a></li>
        </ul>
      </nav>
    </header>

    <section class="jumbotron">
      <img src="./images/heros/hero-image_4.jpg" alt="" aria-hidden />
      <div>
        <h1 tabindex="0">Feeder.</h1>
        <h2 tabindex="0">Your one-stop solution for daily hunger</h2>
      </div>
    </section>

    <!-- <section id="top-restaurants">
      <h2 tabindex="0">Top Restaurants</h2>
      <h3 class="subtitle">These are some of the best restaurants we have</h3>
      <ul id="top-restaurants__ul"></ul>
    </section> -->

    <main id="main-content"></main>

    <footer>
      <p>Copyright &copy; 2021 - feeder.</p>
    </footer>
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
  </body>
</html>
