@media screen and (max-width: 500px) {
    .detail {
        grid-template-areas: "detailHeader" "detailInfo" "detailOverview" "detailReviews";
        margin-top: 30px;
    }

    .detail_info {
        text-align: center;
    }
}

@media only screen and (min-width: 600px) {
    
    /* Jumbotron */
    .jumbotron > div h1 {
      font-size: 4rem;
    }
    
    .jumbotron > div h2 {
      font-size: 0.9rem;
    }

    /* Home */
    #top-restaurants {
      width: 90%;
    }
  
    #top-restaurants__ul {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 50px;
    }
  
    #top-restaurants > h2 {
      font-size: 2.2rem;
    }
}

@media screen and (min-width: 650px) {
    .app-bar {
        grid-template-columns: 1fr auto;
        padding: 8px 32px;
    }
   
    .app-bar .app-bar__brand h1 {
        font-size: 1.5em;
    }
   
    .app-bar .app-bar__menu {
        display: none;
    }
   
    .app-bar .app-bar__navigation {
        position: static;
        width: 100%;
    }
   
    .app-bar .app-bar__navigation ul li {
        display: inline-block;
    }
    
    .app-bar .app-bar__navigation ul li a {
        display: inline-block;
        width: 120px;
        text-align: center;
        margin: 0;
    }
}
   
@media screen and (min-width: 800px) {
    .app-bar .app-bar__brand h1 {
        font-size: 2em;
    }
}

@media screen and (max-width: 800px) {
    .app-bar .app-bar__navigation ul li a{
        width: 90%;
        font-size: 0.9em;
    }

    /* Detail */
    .center h2{
        font-size: 2.2rem;
    }

    .detail{
        font-size: 0.8rem;
    }
}

@media screen and (min-width: 850px) {

}

@media only screen and (min-width: 956px) {
#top-restaurants__ul {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 70px;
}

#top-restaurants > h2 {
    font-size: 2.5rem;
}

.jumbotron > div h1 {
    font-size: 5rem;
}

.jumbotron > div h2 {
    font-size: 1rem;
}
}

@media screen and (min-width: 1200px) {

}

@media screen and (min-width: 1600px) {

}